@model Garage2.Models.ParkingStatView

<div>
    @*<h4>ParkingStatView</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParkingPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkingPlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlaceInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaceInfo)
        </dd>

    </dl>
</div>

